<mat-card class="question-card">
    <mat-card-header>
        <mat-card-title>
            Pregunta #{{questionStep}}
        </mat-card-title>

        <mat-card-subtitle>
            <p>
              {{question[questionStep].nombre}}
            </p>
            <mat-radio-group 
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="questionAnswer" 
              >
                <mat-radio-button class="example-radio-button"
                  *ngFor="let ans of question[questionStep].respuestas"
                  [value]="ans.respuesta.idRespuesta" 
                  (change)="checkQuestion(question[questionStep].consecutivo)">
                    {{ans.respuesta.txtRespuesta}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-button (click)="checkStep(2)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_left"></mat-icon>
      </button>
      <button mat-button (click)="checkStep(1)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
      </button>
    </mat-card-actions>
</mat-card>